# Dependencies
node_modules/

# Production build output
dist/
dist-ssr/

# Environment files
.env
.env*.local

# TypeScript build info
*.tsbuildinfo

# Editor / System files
.DS_Store
.vscode/
.idea/
*.log
