# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/
